@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;500;600&family=Space+Mono:wght@400;700');

html {
    font-size: 17px;
}

/* MOBILE FIRST! @media only screen and (min-width: 506px) */

body {
    display: grid;
    grid-template-rows: repeat(5, auto);
    font-family: 'Space Mono', sans-serif;
}

.umbrellas {
    height: 100vh;
    background-size: contain;
    position: fixed;
    z-index: -400;
}

.row1 {
    /* background-image: url('https://i.imgur.com/pKJV1XA.jpg');
    background-size: cover;
    position: relative; */
   
    /* height: 605px; */
    height: 90vh;
}

h1 {
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: -10px;
}


.centerText {
    text-align: center;
    margin-top: 16rem;
    font-size: 2rem;
}

h2 {
    font-family: 'Mali', sans-serif;
    font-weight: 500;
    margin-top: 4px;
}


.navPhone {
    /* background-color: #A9CAF3; */
    /* background-color: #3BCAE2; */
    background-color: #78DBEA;
    width: 100%;
    display: flex;
    justify-content: center;
}



.navDropDown {
    background-color: #78DBEA;
    /* background-color: #1D6AA8; */
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

.navTabletAndDesktop {
    display: none;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 400;
  }

 .sticky + .content {
    padding-top: 60px;
  }

/* .flexMe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */



/* #aboutMe {
    
} */


.aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
}

.pPadding {
    margin: 7%;
    font-family: 'Muli', sans-serif;
    line-height: 1.3rem;
}

.centerH3s {
    /* text-align: center; */
    margin-top: 2rem;
    font-size: 2rem;
}

.tabletDesktopAboutMe {
    display: none;
}

.aboutMeFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.portraitMe {
    border: 10px solid #F9C002;
    border-radius: 50%;
    margin: 2rem;
    width: 40vh;
}

.longerPicMe {
    display: none;
}


.blueBackground {
    background-color: #A9CAF3;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 20px 0 20px 0;
}

/* .projectsSizer {
    width: 70vw;
} */

.cardPadder {
    margin-bottom: 20px;
    width: 70vw;
}


.container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

/* #triangle-topleft {
    width: 100vw;s
    height: 0;
    border-top: 100px solid red;
    border-right: 100px solid transparent;
    position: relative;
    z-index: 20;
  } */

.tiles {
    /* height: 100vh; */
    width: 100vw;
    /* position: relative;
    z-index: -10; */
}

.yellowDiv {
    background-color: RGBA(249, 192, 2, .8);
    position: absolute;
    margin: 0 auto;
    width: 80%;
    height: 40%;
}

input, textarea {
    background-color: #E5E7E2;
    border-radius: 4px;
    border: 1px solid black;
    width: 70%;
    color: grey;
}



/* Mobile First, then Tablet (min-width:768px) and ending with Desktop (min-width:1024px) */

@media only screen and (min-width: 768px) {
    .portraitMe {
        display: none;
    }

    .aboutMeGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .longerPicMe {
        display: block;
        width: 40vw;
        grid-area: 1/1/2/2;
        margin: 13%;
    }

    .pPadding {
        grid-area: 1 / 2 / 2 / 3;
    }

    .cardPadder {
        margin-bottom: 20px;
        width: 40vw;
    }

    .navPhone {
        display: none;
    }

    /* .inlineNav {
        background-color: #78DBEA;
        line-height: 40px;
        width: 100%;
        display: flex;
        justify-content: right;
    } */

    .navTabletAndDesktop {
        /* background-color: #78DBEA; */
        background-color: #2F6FAE;
        line-height: 40px;
        width: 100%;
        justify-content: right;
    }

    .tabletDesktopAboutMe {
        display: block;
        font-size: 3rem;
    }

    .phoneAboutMe {
        display: none;
    }

}

@media only screen and (min-width: 1024px) {
    .projects {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 70vw;
    }

    .cardPadder {
        width: 30vw;
    }

    .hoverDivProjects {
        width: 30vw;
        margin: 3%;
        display: block;
    }

}