@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;500;600&family=Space+Mono:wght@400;700');

html {
    font-size: 17px;
}

/* MOBILE FIRST! @media only screen and (min-width: 506px) */

body {
    display: grid;
    grid-template-rows: repeat(5, auto);
    font-family: 'Space Mono', sans-serif;
}

.umbrellas {
    height: 100vh;
    background-size: contain;
    position: fixed;
    z-index: -400;
}

.aboutMeText {
    padding: 20px;
}

.row1 {
    height: 90vh;
}

h1 {
    font-weight: 700;
    font-size: 2.5rem;
}


.centerText {
    text-align: center;
    margin-top: 16rem;
    font-size: 2rem;
}

h2 {
    font-family: 'Mali', sans-serif;
    font-weight: 500;
    margin-top: 4px;
}

.navTDSquare {
    display:none;
}

.navPhone {
    background-color: #2F6FAE;
    width: 100%;
    display: flex;
    justify-content: center;
}

#about, #projects, #contact, i {
    color: white;
}

#about:hover, #projects:hover, #contact:hover {
    background-color: #3BCAE2;
}

.navDropDown {
    background-color: #2F6FAE;
    /* background-color: #1D6AA8; */
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

.navTabletAndDesktop {
    display: none;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 400;
  }

 .sticky + .content {
    padding-top: 10%;
  }

  

.aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
}

.pPadding {
    margin: 7%;
    font-family: 'Muli', sans-serif;
    line-height: 1.3rem;
}

.centerH3s {
    /* text-align: center; */
    margin-top: 2rem;
    font-size: 2rem;
}

.tabletDesktopAboutMe {
    display: none;
}

.aboutMeFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.portraitMe {
    border: 10px solid #F9C002;
    border-radius: 50%;
    margin: 2rem;
    width: 40vh;
}

.longerPicMe {
    display: none;
}


.blueBackground {
    background-color: #A9CAF3;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 20px 0 20px 0;
}



.cardPadder {
    margin-bottom: 20px;
    width: 70vw;
}

.hoverDivProjects {
/* keep this for jQuery */
}

.container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}


.tiles {
    width: 100vw;
    /* margin-left: -15px; */
}

.yellowDiv {
    background-color: RGBA(249, 192, 2, .8);
    position: absolute;
    width: 80%;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blueSubmit {
    margin-top: 5px;
}

.iconsConnect {
    display: block;
    padding: 10px;
    line-height: 1.5rem;
}

input {
    margin: 5px;
}

input, textarea {
    background-color: #E5E7E2;
    border-radius: 4px;
    border: 1px solid black;
    width: 70%;
    color: grey;
}



/* Mobile First, then Tablet (min-width:768px) and ending with Desktop (min-width:1024px) */

@media only screen and (min-width: 768px) {

    .umbrellas {
        height: 100vh;
        width: 100%;
        background-size: contain;
        position: fixed;
        z-index: -400;
    }

    
    #about2, #projects2, #contact2 {
        color: white;
    }

    .portraitMe {
        display: none;
    }

    .aboutMeGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .longerPicMe {
        display: block;
        width: 40vw;
        grid-area: 1/1/2/2;
        margin: 13%;
    }

    .aboutMeText {
        grid-area: 1 / 2 / 2 / 3;
        width: 35vw;
        padding-left: 0px;
    }

    .cardPadder {
        margin-bottom: 20px;
        width: 40vw;
    }

    .navPhone {
        display: none;
    }

    .sticky + .content {
        padding-top: 0%;
      }


    .navTDSquare {
        position: relative;
        display: block;
        background-color: #2F6FAE;
        /* height: 200px; */
        height: 30%;
        width: 100px;
        display: flex;
        margin-left: 87vw;
        margin-top: 30vh;
        border-radius: 4px;
        line-height: 3rem;
        justify-content: center;
        padding-top: 5px;
    }

    .navTabletAndDesktop {
        background-color: #2F6FAE;
        height: 249px;
        width: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: relative;
        margin-left: 87vw;
        margin-top: 70px;
        border-radius: 4px;
        line-height: 3rem;
    }



    .deskNavHover:hover {
        width: 100px;
        text-align: center;
        background-color:  #3BCAE2;
    }


    .tabletDesktopAboutMe {
        display: block;
        font-size: 3rem;
    }

    .phoneAboutMe {
        display: none;
    }

}

@media only screen and (min-width: 1024px) {
    .projects {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 60vw;
    }

    .cardPadder {
        width: 20vw;
        margin: 5px;
        margin-bottom: 15px;
    }


    .hoverDivProjects {
        display: block;
        width: 20vw;
        margin: 5px;
        margin-bottom: 15;
    }

}